page-accountverification {
    h1{
        margin: 15px auto 15px auto;
        padding: 0px;
        width: 90%;
        display: block;
        color: #111111;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .loginWrap{
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        height: 100%;
        position: relative;
        background-image: url('../assets/imges/login_background.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .loginTop { 
        margin: 0px; 
        padding: 0px;
        width: 100%; 
        display: block; 
        position: relative;
    }
    .logo{ 
        margin: 0px; 
        padding: 0px; 
        width: 100%; 
        display: block; 
        position: relative; 
        text-align: center; 
    }
    .logo img { 
        max-width: 50%;
        margin-top: 5%; 
        margin-bottom: 5%;
    } 
    .title_login{
        margin: 0 auto;
        padding: 0px;
        width: 90%;
        display: block;
        font-weight: 400;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .loginCnt { 
        margin: 0px auto; 
        padding: 0px;
        width: 90%; 
        display: block; 
        position: relative;
    }
    .loginCnt ion-item {
        padding-left: 0px; 
        position: relative; 
    }
    .icon_email { 
        position: relative; 
        top:5px; 
        margin-right: 10px; 
    }
   
    .loginBottom { 
        margin: 0px; 
        padding: 0px; 
        width: 100%; 
        display: block; 
        position: relative;
    }
    .btn_login {
        margin: 0px auto;
        padding: 0px;
        width: 240px;
        height: 48px;
        background: #e83338;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        display: block; 
        box-shadow: inherit;
        border-radius: 40px;
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
    }
    .txt_forget{
        margin: 10px 0px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #333;
        display: block;
        text-decoration: none;
      cursor: pointer;
    }
 
    .terms{
        margin: 10px 0px 0px 0px;
        padding: 0px;
        width: 100%;
        color: #999999;
        text-align: center;   
        font-size: 15px;
    }
    .terms a{
        margin: 10px 0px 0px 0px;
        padding: 0px;
        text-align: center;
        color: #999999;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }


.verification-top {
     margin: 0px auto 0px auto; 
     padding: 0px 0px 10px 0px; 
     width: 90%; 
     border-bottom: 1px solid #ccc;
    }
.verification-top .lock{
    margin: 0px;
    padding: 0px;
    color: #ccc;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
}
.verification-top .lock ion-icon{ margin-right: 5px;}

.verification-top .call{
    margin: 4px 0px 0px 14px;
    padding: 0px;
    color: #111111;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
}
.verification-top .call ion-icon {
     margin-right: 5px;   
     color: #ccc; 
    }

.verify_number { 
    margin: 0px auto 0px auto; 
    padding: 0px 0px 10px 0px; 
    width: 70%; 
  } 

.verify_number ion-input{
    margin: 0 10px;
    padding: 0;
    width: 58px;
    height: 58px;
    border: 1px solid #eaeaea;
    box-shadow: -2px -3px 2px #efefef;
    text-align: center;
    display: block;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.text-input-md {
     text-align: center; 
     color: #111111; 
     margin: 10px 8px;  
     font-size: 30px; 
    }


    .text-input::-moz-placeholder { 
    color: #111111; 
}

.text-input:-ms-input-placeholder { 
    color: #111111; 
}

.text-input::-webkit-input-placeholder { 
    text-indent: 0;
    color: #111111; 
}

.text-code { 
    width: 100%; 
    margin: 10px 0px 20px 0px; 
    text-align: center; 
    font-size: 18px;
}
.text-code span { 
    color:#e83338; 
} 

.verify_icon { 
    margin: 20px auto 20px auto; 
    width: 90%; 
    text-align: center; 
    display: block; 
}
.verify_icon img{ 
    max-width: 50%;
}
}
