page-playlist-popup {
    .text {
        height: 100%;
        width: 100%; 
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .popup-wrapper{
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        position: relative;
    }

    .popup-cnt{
        margin: 40% auto;
        padding: 0px;
        width: 95%;
        background-color:#fff;
        border-radius: 10px;
    }

    .input-cover {
        text-align: left;
        padding: 0px 5px;   
        height: 40px;    
        box-shadow: 0 0 5px #ccc;
        border: 0px solid #ccc;
        border-bottom:  1px solid #ccc;
   }


   .cancel {
        background-color: #df173e;
        float: right;
        width: 100px;
        border-radius: 20px;
        display: block;
        margin: 10px 10px 10px 0px;
    }

    
    .addvideo {
        background-color: #df173e;
        float: left;
        width: 100px;
        border-radius: 20px;
        display: block;
        margin: 10px 0px 10px 10px;
    }

    .ion-ios-close-outline:before {
        content: "\f406";
        font-size: 20px;
        float: right;
        color: #000;
        margin: -10px 0px 0px 20px;
    }
    h4 {
        font-size: 14px;
        margin: 0px 0px 0px 10px;
        color: #000;
        font-weight: 400;
    }

    h5 {
        font-size: 14px;
        margin: 0px 0px 10px 10px;
        color: #000;
        font-weight: 400;
        margin-right: 5px;
        top: 3px;
    }

    h6 {
        font-size: 12px;
        margin: 0px 0px 0px 0px;
    }
    .search{
        position: relative;
        padding: 10px 10px 0px 10px;
    }

    .ion-md-search:before {
        content: "\f375";
        position: absolute;
        right: 25px;
        top: 25px;
    }

    .back-buttons {
        background-color:#eeeeee;
        height: 60px;
        width: 100%;
        border-radius: 10px;
    }
    .popup {
        padding: 14px;
    }

    .checkbox-add{
        position: relative;
        top:2px;
    }

    .ion-md-arrow-dropdown:before {
        content: "\f280";
        position: absolute;
        right: 25px;
        top: 22px;
    }
    
}
