page-accountforgot {
    .loginWrap{
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        height: 100%;
        position: relative;
        background-image: url('../assets/imges/login_background.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .loginTop{
        margin: 15.5% 0 0 0;
        padding: 0px;
        width: 100%;
        display: block;
        position: relative;
     }
    .logo{
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        position: relative;  
        text-align: center
    }
    .logo img { 
        max-width: 40%; 
        margin-top: 30%; 
        margin-bottom: 10%;
    } 
    .title_login{
        margin: 0 auto;
        padding: 0px;
        width: 90%;
        text-align: center;
        display: block;
        font-weight: 600;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .loginCnt{
        margin: 0px auto;
        padding: 0px;
        width: 90%;
        display: block;
        position: relative;    
    }
    .loginCnt ion-item{
        padding-left: 0px;
        position: relative;
    }
    .icon_email{
        position: relative;
        top:5px;
        margin-right: 10px;
    }
    .checkbox_login .checkbox{
        width: 20px;
        height: 20px;
        border-radius: 2px;
        margin-right: 5px;
    }
    .checkbox_login .checkbox input{
        width: 20px;
        height: 20px;
        background-color:transparent;
        position: relative;
        top: 5px;
    
    }
    
    .loginBottom{
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        position: relative;

    }
    .btn_login{
        margin: 30px auto  0px auto;
        padding: 0px;
        width: 240px;
        height: 48px;
        background: #e83338;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        display: block; 
        box-shadow: inherit;
        border-radius: 40px;
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
    }
    .txt_forget{
        margin: 10px 0px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #333;
        display: block;
        text-decoration: none;
        cursor: pointer;
    }
 
    .newuser{
        margin: 10px 0px 20px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;   
        font-size: 15px;
    }
    
    .newuser a{
        margin: 10px 0px 0px 0px;
        padding: 0px;
        text-align: center;
         color: #e83338;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede;
        height: 75px;
    }


    /*** **/
.inputEmail{
    border: 1px solid #eceaea;
    margin: 15px 0px;
}

label.label-md{
    margin: 0px;
}

}
