page-upload-video-details {
    p {
        margin: 15px auto 0px auto;
        display: block;
        padding: 0px;
        text-align: center;
    }
    .back {
        width: 90px;
        float: left;
        border-radius: 20px;
    }
    .next {
        width: 90px;
        float: right;
        border-radius: 20px;
    }
    
    .change-box{
        margin: 20px auto;
        padding: 10px 10px;
        width: 90%;
        border: 1px solid #cacaca;
        display: block;
        text-align: left;
    }

    .change{
        margin: 20px auto;
        width: 90%;
        border: 1px solid #cacaca;
        display: block;
        text-align: left;
    }

    .view {
        margin: 0px auto;
        font-size: 13px;
        float: left;
    }

    .views {
        margin: 0px auto;
        font-size: 13px;
        float: right;
    }
}
