page-home {
    .test {
        position: relative;
    }

    .toolbar-md {
        padding: 5px;
        height: 50px;
    }
    
    [col-5] img{
        width: 100px;
        margin: 13px 0px 10px 0px;
    }

    .video img{
        width: 20px;
        height: 20px;
        margin: 18px 15px 0px 100%; 
    }
    
   .search img {
        width: 17px;
        height: 17px;
        margin: 20px 0% 0px 70%; 
    }

    [col-2] img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 15px 0px 10px 15px;
        border: 1px solid rgb(158, 155, 155);
        
    }

    .ion-md-videocam:before {
        content: "\f39f";
        margin: 22px 0px 10px 15px;
    }

    .ion-md-search:before {
        content: "\f375";
        margin: 22px 0px 10px 15px;
    }

    h2 {
        font-size: 12px;
        margin: 2px 0px 0px 10px;
    }
    
    .section{
        margin: 0px 0px 8px 0px;
        padding: 3px;
    }

    ion-slide.swiper-slide {
        left: 15%;
    }

    .slide-zoom {
        background: #e6e6e6;
    }
 
    .thumb-img {
        padding: 10px;
        width: 200px;
        height: 100px;
    }
    .set {
        width: 104px;
        height: 120px
    }

    ion-slides {
        display: block;
        width: 100%;
        height: 30%;
    }

    .main img {
        width: 100%;
        height: 200px;
    }

    h6 {
        font-size: 13px;
        margin: 5px 10px 0px 10px;
    }

    .circleDiv{
        padding: 0px;
        display: block;
        width: 100%;
        font-size: 11px;
        margin: -12px 0px 10px 10px;

    }
    .circleDiv h4 { 
        font-size: 11px;
        display: inline-block;
     }

    .circle {
        margin: 0px 0px 0px 2px;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: rgb(121, 117, 117);
        display: inline-block;
    }

    .ion-md-more:before {
        content: "\f1c9";
        margin: 6px 0px 0px 0px;
    }

    .toolbar-background-md, .toolbar-background-ios{ background: transparent;}

    .item-md {
        padding-left: 10px ;
        padding-right: 0;
        position: relative;
        font-size: 15px ;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .item-block {
        margin: 0 ;
        padding: 0 ;
        text-align: initial;
        display: flex;
        overflow: hidden;
        width: 100% ;
        max-height: 0px ;
        border: 0;
        font-weight:10px ;
        line-height: 15px;
        text-decoration: none;
        color: inherit;
    }
    
    // .popover-content
    // {}
    .popover {
        height:140px !important; 
        //   width: 100% !important; 
        $popover-md-width: 320px !important; 
        $popover-ios-width: 320px !important;
        $popover-wp-width: 320px !important;
    }
}
