page-createnew {
    .create {
        background-color: #df173e;
        border-radius: 20px;
        width: 100px;
        float: left;
        margin: 10px 10px;
    }

    .back {
        background-color: #df173e;
        border-radius: 20px;
        float: right;
        width: 100px;
        margin: 10px 10px;
    }

    h5 {
        font-size: 14px;
        display: block;
        margin: 20px 0px 0px 10px;
        padding: 0px;
    }
    
    p {
        font-size: 13px;
        display: block;
        margin: 10px 15px 0px 15px;
        padding: 0px;
    }
    .input-cover {
        text-align: left;
        padding: 0px 5px;   
        height: 40px;    
        box-shadow: 0 0 5px #ccc;
        border: 0px solid #ccc;
        border-bottom:  1px solid #ccc;
   }
    .search{
        position: relative;
        padding: 14px;
        width: 100%;
    }
}
