page-blog {
    .toolbar-md {
        padding: 5px;
        height: 50px;
    }
    [col-5] img{
        width: 100px;
        margin: 13px 0px 10px 0px;
    }

    .video img{
        width: 20px;
        height: 20px;
        margin: 18px 15px 0px 100%; 
    }
    
   .search img {
        width: 17px;
        height: 17px;
        margin: 20px 0% 0px 70%; 
    }

    [col-2] img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 15px 0px 10px 15px;
        border: 1px solid rgb(158, 155, 155);
    }

    .ion-md-videocam:before {
        content: "\f39f";
        margin: 22px 0px 10px 15px;
    }

    .ion-md-search:before {
        content: "\f375";
        margin: 22px 0px 10px 15px;
    }

    h2 {
        font-size: 12px;
        margin: 2px 0px 0px 10px;
    }
    
    .section{
        margin: 0px 0px 8px 0px;
        padding: 3px;
    }

    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-only .title {
        line-height: 40px;
        color: #000;
        font-size: 12px;
    }


    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border-bottom-color: #000;
        box-shadow: inherit;
        color: #000;
      }

      .item-input-has-focus .label-md[floating],.input-has-focus .label-md[floating] {
          color:#000;
         
      }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-image: url();
        background-repeat: repeat-x;
        content: "";
    }
}
