page-upload-video-type {
    .imgs img {
        width: 90px;
        display: block;
        margin: 100px auto;

    }

    h6 {
        font-size: 14px;
        margin: -90px 0px 0px 120px;
        display: block;
    }
}
