page-setting {
    .toolbar-md {
        padding: 5px;
        height: 50px;
    }
    [col-7] img{
        width: 100px;
        margin: 18px 0px 10px -10px;
    }

    [col-2] img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 18px 0px 10px 10px;
        border: 1px solid rgb(158, 155, 155);
    }

    .ion-md-videocam:before {
        content: "\f39f";
        margin: 25px 0px 10px 5px;
    }

    .ion-md-search:before {
        content: "\f375";
        margin: 25px 0px 10px 10px;
    }

    h2 {
        font-size: 13px;
        font-weight: 400;
        margin: 2px 0px 0px 5px;
    }
    
    h3 {
        font-size: 11px;
        font-weight: 400;
        margin: 2px 0px 0px 5px;
    }
    
    h4 {
        font-size: 9px;
        font-weight: 400;
        margin: 2px 0px 0px 5px;
    }

    h5 {
        font-size: 13px;
        font-weight: 400;
        margin: 5px 0px 0px 5px;
    }

    p {
        font-size: 10px;
        margin: 0px 0px 0px 5px;
    }

    .section{
        margin: 10px 0px 8px 15px;
        padding: 4px;
    }

    .sections{
        margin: 10px 0px 8px 15px;
        padding: 4px;
    }

    .sectionss{
        margin: 0px 0px 0px 20px;
        padding: 0px;
    }

    .profile_back {
        background-color: #eaeaea;
        color: #000;

    }
}
