page-upload-image {
    p {
        margin: 10px 5px 0px 10px;
        display: block;
        padding: 0px;
        font-size: 12px;
    }
    .back {
        width: 90px;
        float: left;
        border-radius: 20px;
        margin: 10px 0px 20px 10px; 
    }
    .next {
        width: 90px;
        float: right;
        border-radius: 20px;
        margin: 10px 10px 20px 0px; 
    }
}
