page-channelpaymethod {
    .ion-md-arrow-round-forward:before {
        content: "\f28a";
        margin: 0px 0px 0px 7px;
    }

    .sent{
      text-align: center;
    }

    .sent button{
        color: #fff;
        background-color: #111111;
        border-radius: 50px;
        display: block;
        margin: 0px auto;
        display: block;
        position: relative;
        font-size: 10px;
        width: 30%;
    }

    .sents button{
      color: #fff;
      background-color: #111111;
      border-radius: 50px;
      display: block;
      margin: 10px auto;
      display: block;
      position: relative;
      font-size: 10px;
      width: 30%;
  }

    h6 {
        font-size: 14px;
        margin: 20px 0px 0px 0px;
        display: block;
        padding: 0px;
        text-align: center;
     }
    .loginCnt{
      margin: 0px auto;
      padding: 0px;
      width: 95%;
      display: block;
      position: relative;
      box-shadow: 0px 1px 0px 1px #ccc;    
  } 
  
    .inputEmail{
      border: 1px solid #eceaea;
      margin: 15px 0px;
      width: 100%;
  }

    p {
        display: block;
        margin: 5px auto;
        font-size: 11px;
        color: red;
        padding: 0px;
        text-align: center;
    }
}
