<ion-content class="loginWrap">
  <form #loginFrom="ngForm" (ngSubmit)="login(loginFrom,$event)">
    <ion-row class="loginTop">
      <ion-col class="logo">
        <img src="assets/images/wootubes-logo.png" />
      </ion-col>
    </ion-row>

    <ion-row class="loginCnt">
      <ion-list>
        <ion-input type="text" class="inputEmail" placeholder="Email" name="Email" ngModel #email="ngModel"
          pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required>
        </ion-input>
      </ion-list>
      <div *ngIf="loginFrom.submitted && email.errors && email.errors.required">
        <h6>Email is Required</h6>
      </div>
      <div *ngIf="loginFrom.submitted && email.errors && email.errors.pattern">
        <h6>Enter Valid Email id</h6>
      </div>

      <ion-list>
        <ion-input class="inputEmail" type="password" placeholder="Password" name="password" ngModel #password="ngModel"
          required></ion-input>
      </ion-list>
      <div *ngIf="loginFrom.submitted && password.invalid">
        <h6>Password is Required</h6>
      </div>
      <h5>{{error_messages}}</h5>
    </ion-row>

    <ion-row class="loginBottom">
      <button ion-button class="btn_login" type="submit"> Login <img class="icon_arrow"
          src="assets/images/icon_arrow_white.png" /></button>
      <a (click)="forgot()" class="txt_forget">Forgot your password?</a>

      <div class="social_icon">
        <a> <img src="assets/images/icon_fb.png" /> </a>
        <a> <img src="assets/images/icon_twitter.png" /> </a>
        <a> <img src="assets/images/icon_in.png" /> </a>
      </div>
      <div class="newuser" (click)="sign_Up()">
        New user? <a>Signup here.</a>
      </div>
    </ion-row>
  </form>
</ion-content>